body
{
   background: rgb(214, 253, 245); 
}

.header_div
{
   background: azure;
   color: rgb(80, 212, 168); 
}

.header_div p{
    font-family: 'Lucida Sans', sans-serif;
    color: cadetblue;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Lucida Sans', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(65, 106, 108);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: azure;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(78, 96, 90);
}